#map{
  height: 400px;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  position: absolute;
  z-index: 100;
  right: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 5px 11px;
  text-overflow: ellipsis;
  width: 400px;
  border: 1px solid #ccc
}

.pac-input:focus {
  border-color: #25c1ad;
  outline: none;
}

#title {
  color: #fff;
  background-color: #fe6878;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
.err-msg{
  color: red;
  margin-left: 12px;
  display: none;
}
