.topmenulist-LOCALE {float: left; width: 100%; margin-top: 7px;}
.topmenulist-LOCALE select {height: 30px; border: 0px; background: none; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand {
    display: none;
}
