.username-with-avatar{
  display: block;
  text-align: left;
  color: #636c72;
  text-transform: capitalize;
  max-width: 160px;
  display: block;
  overflow: hidden;
}
  .username-with-avatar:hover{
    color: #FF5A5F;
    text-decoration: none;
  }
.user-role{
  font-size: 11px;
  display: block;
  float: left;
  color: #25c1ad;
  text-transform: capitalize;
}
.user-role[data-value="owner"]{
  color: #FF5A5F;
}
.user-role[data-value="normal"]{
  color: #5094E8;
}
.user-role[data-value="Member"]{
  color: #5bc0de;
}
.user-avatar{
  float: left;
  margin-right: 10px;
}
a:hover{
  text-decoration: none !important;
}
