.navbar-rtd .mr-auto{
  margin-right: 0px !important;
}

.sidebar-menu-rtd .menu-list li a button{text-align: right !important;}
.nav-username-rtd{margin-right: 10px;margin-left: 0;}

.breadcrumb-rtd .breadcrumb-item{float: right;text-align: right;}

.page-header-rtd h2 svg {margin-left: 10px;float: right;margin-right: 2px !important;}


.page-header-rtd h2 .addBtn{margin-left: 0 !important;margin-right: 10px;}
.unit-item-container-rtd .unit-published,.unit-item-container-rtd .waiting-for-approv{left: 15px; right: auto; border-radius: 0px 10px 10px 0px;}
.unit-item-container-rtd .unit-actions{right: 0;left: inherit;border-radius: 0px 5px 5px 0px;}
.unit-item-container-rtd:hover .unit-actions{right:-13%;left: inherit;}
.menu-item-rtd{text-align: right;}
.filter-text-rtd{padding-right: 0;padding-left: 16px;}
.unit-details-item-rtd i{margin-right: 0px; margin-left: 10px;}
.owner-name-rtd {border-radius: 5px 0px 5px 0px !important;}
