.breadcrumb{
  padding: 0 !important;
  background: none !important;
}
  .breadcrumb a {
    color: #fe6a79;

  }
    .breadcrumb a:hover{
      color: #25c1ad;
      text-decoration: none;
    }
  .breadcrumb-item{
    text-transform: capitalize;
  }
  .breadcrumb-item.active{
    color: #ADADAD !important;
  }
  .breadcrumb-item + .breadcrumb-item::before{
    color: #C4C4C4 !important;
  }
